/*body {
  width: 200px;
  height: 100px;
}*/

#popup-content {
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  width: 90%;
  padding: 0;
}

p {
  margin: 0;
}

button {
  width: 100%;
  margin: 3% auto;
  cursor: pointer;
}
