body {
  background: black;
}

#popup-content {
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#popup-content > *  {
  font-family: "sans-serif";
}

input {
  width: 82%;
  padding: 5px;
  border: 0;
}

#title {
  color: white;
  margin: 0;
}

#input-container {
  display: flex;
  align-items: center;
  border: 2px solid white;
  background: white;
}

#at-symbol {
  padding: 2px;
  border-right: 1px solid lightgray;
  margin: 0;
}

button {
  width: 100%;
  cursor: pointer;
  border: 2px solid #fe2c55;
  background: #fe2c55;
  color: white;
  padding: 5px;
}
